<div class="my-wrapper text-center">

	<h1 class="custom-font-1">Upload Your Picture</h1>

	<div class="span6 offset3 stolen-surfbox">
		<%= simple_form_for @pic do |f| %>
			<%= f.input :hour, label: "Which hour is this picture for?"%>
			<br/>

			<%= f.input :image, :as => :file %>
			<br/>
			<%= f.input :emotion, label: "How were you feeling?"%>
			<br/>
			<%= f.input :learned, label: "What have you learned?", placeholder: "Type your biggest learning here", :input_html => { :rows => 10}%>
			<br/>
			<%= submit_tag "Save my Picture", :class => 'btn btn-large btn-primary' %>
		<% end %>
	</div>
</div>

